
<div> 
    <h5 class="w-25 roundedShield mx-auto text-center pt-1 pb-2 border border-top-0 border-dark bg-warning">
        Select Configuration
    <a routerLink="/main" routerLinkActive="active">>>BACK</a>
    </h5>
</div>
<div class="container-fluid mt-3 h-85">
    <div class="row" id="content">
        <div class="col-md-3 bg-light">
            <!-- Columns -->
            <app-columns [node]="node"></app-columns>
        </div>				
        <div class="col-md-6 bg-light">
            <app-filter [node]="node" [addedOperationName]="addedOperationName"></app-filter>
        </div>
        <div class="col-md-3 bg-light">
            <!-- oeprations-->
            <app-operations (emitClick)="addedOperation($event)"></app-operations>					
        </div>				
    </div>
</div>


