/* MAIN SCREEN */
#mainScreenContent.row {
  height : 95%; /* fallback if needed */
  height: calc(100% - 48px);
}

#mainScreenCanvas {
	height: 90%;
	height: calc(100% - 55px);
}


/* CASE OF SCREENS */
#content.row {
  height : 95%; /* fallback if needed */
  height: calc(100% - 106px);
}

#operationsCanvas {
	height: calc(100% - 20px);
}


/* CUSTOM CHECKBOX */
input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}


/* CUSTOM CLASSES */
.roundedShield {
	border-bottom-left-radius:  100%;
	border-bottom-right-radius: 100%;
}

.h-85 {
	height: 85% !important;
}

.h-80 {
	height: 80% !important;
}

.scroll-y {
	overflow-y: auto;
}

