<!--
<div class="box-list">
    <div class="box" *ngFor="let o of operations" (dblclick)="onDoubleClick($event)">
      {{o}}
    </div>
</div>-->

  <div class="card border-dark">
      <div class="card-header h5 border-dark bg-dark text-warning">
          Operations	
      </div>
      <div class="card-body text-center">
  <div class="pt-1"> 
      <button class="btn btn-warning border-dark"  (dblclick)="onDoubleClick($event)">AND</button>
      <button class="btn border-dark btn-warning ml-1" (dblclick)="onDoubleClick($event)">OR</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">NOT</button>
  </div>
  <div class="pt-2">
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">LIKE</button>
      <span class="pl-4 ml-3"></span>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">WHERE</button>
  </div>
  <div class="pt-2">
      <button class="btn btn-warning border-dark mr-1" (dblclick)="onDoubleClick($event)">=</button>
      <button class="btn btn-warning border-dark mr-2" (dblclick)="onDoubleClick($event)">&gt;</button>
      <button class="btn btn-warning border-dark mr-1 " (dblclick)="onDoubleClick($event)">&lt;</button>
      <button class="btn btn-warning border-dark mr-1" (dblclick)="onDoubleClick($event)">&ne;</button>
  </div>
  <div class="pt-2">
      <button class="btn btn-warning border-dark mr-5" (dblclick)="onDoubleClick($event)">&ge; </button>
      <span class="pr-1"></span>
      <button class="btn btn-warning border-dark ml-5" (dblclick)="onDoubleClick($event)">&le;</button>
  </div>
  <div class="pt-2">
      <button class="mr-1 btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">AVG</button>
      <button class="mr-1 btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">MIN</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">MAX</button>
  </div>
  <div class="pt-2"> 
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">(</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">+</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">-</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">*</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">/</button>
      <button class="btn border-dark btn-warning " (dblclick)="onDoubleClick($event)">)</button>
  </div>		

  <div (keyup.enter)="onEnterInput($event)" class="pt-4 mt-4">
      <input type="text" class="form-control" [(ngModel)]="input" />
  </div>																							
      </div>
  </div>