<div class="card border-dark h-85">
    <div class="card-header h5 border-dark bg-dark text-warning">
        Columns
    </div>
    <div class="card-body scroll-y ">
        <div class="pb-3">
            <input type="text" class="form-control" />
        </div>								
        <div *ngFor="let column of columns; let i = index" class="pb-1">
            <input type="checkbox"
            (change)="checkValue(column)">
            <label>{{column}}</label>   
        </div>

                        																										
    </div>
</div>