<div class="center">
  <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" 
  (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <span>here ...</span>
  </file-drop>
  <div class="upload-table">
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody class="upload-name-style">
              <tr *ngFor="let file of files; let i=index">
                  <div (dblclick)="onDoubleClick(file)"><strong>{{ file.name }}</strong></div>
              </tr>
          </tbody>
      </table>
  </div>
</div>