<nav class="navbar navbar-expand-md navbar-dark bg-dark pt-1 pb-1" style="z-index: 1">
    <a class="mx-auto navbar-brand pl-5" href="/">
        <span class="text-warning">Hackaton</span>
        <span class="text-success">Berexia 2019</span>
    </a>
</nav>		
 
    <!--START OF ROW-->   
    <router-outlet></router-outlet>
   
    <!--END OF ROW-->    



			



