.box {
    width: 70px;
    height: 50px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    /*cursor: move;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }


  
  .box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


  .box-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-box {
    padding: 20px 10px;
    border-right: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
  }


  .example-list {
    width: 1000px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

/* MAIN SCREEN */
#mainScreenContent.row {
  height : calc(100% - 1px); /* fallback if needed */


}

#mainScreenCanvas {
	height: calc(100% - 57px);
  display: grid;
}


/* CASE OF SCREENS */
#content.row {
  height : 95%; /* fallback if needed */
 
}

#operationsCanvas {
	height: calc(100% - 20px);
}


/* CUSTOM CHECKBOX */
input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}


/* CUSTOM CLASSES */
.roundedShield {
	border-bottom-left-radius:  100%;
	border-bottom-right-radius: 100%;
}

.h-85 {
	height: 85% !important;
}

.h-80 {
	height: 80% !important;
}

.h-95 {
  height: calc(100% - 50px) !important;

}

.scroll-y {
	overflow-y: auto;
}



html {
  height: 100% !important;
}


body {
 height: 96% !important;
}