<div class="container-fluid h-95 bg-light">

  <div class="row" id="mainScreenContent">
      <div class="col-md-9 p-0">					
          <nav class="pt-2 navbar navbar-light pt-2 pb-2 border-bottom border-dark" style="z-index: 1">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a (click)="run()" class="btn btn-warning border-dark" data-i18n="RUN">Run</a>
                  </li>  
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="btn btn-warning border-dark" [routerLink]="['/preview']" data-i18n="PREVIEW">Preview</a>
                  </li>  
              </ul>					    
          </nav>
          <div  id="mainScreenCanvas" class="bg-light">
              
            <app-flowchart [addedFileNode]="addedFile" [addedNodeName]="addedChart" ></app-flowchart>

         </div>	                          
      </div>

    <div class="col-md-3 border-left border-dark p-0">
        <h2 class="text-center text-dark pt-2">Palette</h2>
            <app-transformations (emitClick)="childTransfEvent($event)"></app-transformations>
        <h3 class="text-center bg-dark text-warning p-1 mt-2">Datasets</h3>	
            <app-datasets (emitClick)="childFilesEvent($event)"></app-datasets>
    </div>

  </div>
  
</div>



