
<div id="operationsCanvas" class="card  border-dark bg-secondary">
<div>

        <div 
        cdkDropList
        cdkDropListOrientation="horizontal" 
        class="card-body scroll-y"
        (cdkDropListDropped)="drop($event)">
            <div 
            class="btn border-dark btn-warning" 
            *ngFor="let operation of operations" 
            cdkDrag>
            {{operation}}
            </div>
        </div>
    
</div>



</div>


