#content.row {
    height : 95%; /* fallback if needed */
    height: calc(100% - 106px);
  }

  #operationsCanvas {
      height: calc(100% - 20px);
  }

  .roundedShield {
      border-bottom-left-radius:  100%;
      border-bottom-right-radius: 100%;
  }