  <!--<div class="box-list">
    <div class="box" *ngFor="let t of transformations" (dblclick)="onDoubleClick($event)">
      {{t}}
    </div>
  </div>
-->
  
<h3 class="text-center bg-dark text-warning p-1">Transformations</h3>
  <div class="text-center">
      <div class="p-2" *ngFor="let t of transformations" (dblclick)="onDoubleClick($event)">
        <button class="btn btn-warning rounded-circle border-dark">
            {{t}}
        </button>
        </div>
  </div>


