  .graph {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .graph .edge {
      stroke: yellow;
      fill: none; }
      .graph .edge .edge-label {
        stroke: none;
        font-size: 12px;
        fill: yellow !important; }
    .graph .panning-rect {
      fill: transparent;
      cursor: move; }
    .graph .node-group .node:focus {
      outline: none; }.graph {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .graph .edge {
      stroke: yellow;
      fill: none; }
      .graph .edge .edge-label {
        stroke: 2px;
        font-size: 12px;
        fill: yellow ; }
    .graph .panning-rect {
      fill: transparent;
      cursor: move; }
    .graph .node-group .node:focus {
      outline: none; }
  
  /*.edge {
      path  {
        stroke: #666 !important;
      }
    }*/
  